<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.readhub">

    <application
        android:name="com.ottd.libs.framework.App"
        android:allowBackup="true"
        android:icon="@mipmap/readhub_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="TA_APPKEY"
            android:value="AK76E4VLVA8M"></meta-data>

        <activity
            android:name=".SplashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="mtaautotrack.7e0c6b4c31a7a0f9ce04f10f7223600b"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topic.TopicDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>